@import './colors';

@mixin carousel {
    max-width: 12em;
    margin: 0em 2em;
}

@mixin carouselItem {
    height: 15em;
    width: 12em;
    object-fit: cover;
    border-radius: 1em 1em 0em 1em;
    border: 1px solid $dead-purple;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hrItem {
    width: 80%;
    background-color: $purple;
    border: none;
    height: 1px;
    margin-bottom: 2em;
}

.h2Item {
    padding: 0.5em 0em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 2em;
    text-align: center;
    width: 80%;
}

.custom-input {
    display: flex;
    align-self: center;
    background-color: white;
    margin-bottom: 1em;
    width: 80%;
    border-radius: 1em;
    align-items: center;
    border: 1px solid $purple;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    input {
        font-size: 1em;
        width: 85%;
        border: none;
        padding: 0.2em 0em 0.4em 0em;
    }

    input:focus {
        outline: none;
    }

    i {
        padding: 0.2em 0.5em;
        color: $purple;
    }
    
}

