@import './colors';

@mixin carousel {
    max-width: 12em;
    margin: 0em 2em;
}

@mixin carouselItem {
    height: 15em;
    width: 12em;
    object-fit: cover;
    border-radius: 1em 1em 0em 1em;
    border: 1px solid $dead-purple;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin hrItem {
    width: 80%;
    background-color: $purple;
    border: none;
    height: 1px;
    margin-bottom: 2em;
}

@mixin h2Item {
    padding: 0.5em 0em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 2em;
}